<div>
  <label for="title">Nom du document</label>
  <input
    type="text"
    id="title"
    name="title"
  />
</div>

<div>
  <label for="description">Description</label>
  <textarea name="description" id="description"></textarea>
</div>

<div>
  <input type="submit" />
</div>