<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title !== 'undefined' ? title : 'Gestionnaire de tâches' %>
    </title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/api/trips">Liste des voyages</a></li>
          <li><a href="/api/trips/create">Créer un voyage</a></li>
        </ul>
      </nav>
    </header>

    <main><%- main %></main>

    <footer>
      <p>&copy; <%= new Date().getFullYear() %> - Gestionnaire de tâches</p>
    </footer>
  </body>
</html>
